@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Oswald:400,300,700|Roboto+Condensed:400,300,300italic,700italic,400italic,700);

$font-serif: 'Slabo 27px', serif;
$font-header: 'Oswald', sans-serif;
$font-main: 'Roboto Condensed', sans-serif;

body {
	font-size: 18px;
	font-family: $font-main;
	background-color: #ffeeee;
	color: #333;
}

header {
	background-color: #0060E6;
	border-bottom: 4px solid #004099;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	box-shadow: 0px 0px 32px rgba(0,0,0,.3);

	h1 {
		text-shadow: 0px 4px 0px rgba(0,0,0,.1);
		font-family: $font-header;
		font-weight: normal;
		letter-spacing: -.05em;
	}

	.inner {
		padding: 1em;
	}
}

h1 {
	text-shadow: 0px 4px 0px rgba(0,0,0,.1);
	margin: .2em 0;
}

input[type=text] {
	display: inline-block;
	box-shadow: inset 2px 2px 1px rgba(0,0,0,.5);
	border: 0px hidden transparent;
	background-color: #ffeeee;
	color: #333;
}

.button {
	background-color: #0060E6;
	border-radius: 8px;
	border: 0px solid #004099;
	border-top: 1px solid #016BFF;
	border-bottom: 3px solid #004099;
	font-family: $font-main;
	font-size: 1em;
	padding: .5em;
	box-shadow: 0px 4px 8px rgba(0,0,0,.3);
	width: 8em;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

#right-column,
#left-column {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 50%;
	height: 100%;
	top: 0;
	position: fixed;

	.inner {
		padding: 1em;
		padding-top: 7em;
	}
}

#left-column {
	left: 0;
	background-color: #333;
	color: #fff;

	label {
		font-family: $font-serif;
		font-weight: bold;
		display: block;
		float: left;
		width: 6em;
		line-height: 2.5em;
		box-sizing: border-box;
	}

	input[type=text] {
		font-family: $font-main;
		font-size: 1em;
		padding: .5em;
		width: 50%;
	}

	hr {
		clear: both;
		border: 0px hidden transparent;
		border-top: 1px dotted #222;
		margin: 1em 0;
	}

}

#right-column {
	font-family: $font-serif;
	right: 0;

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
		padding: 0;

		tr {
			border-top: 1px solid #eee;

			td {
				padding: .5em;
				width: 25%;
			}

			&:first-child {
				border-top: 0px hidden transparent;
			}
		}

		.payment {
			background-color: #0060E6;
			color: #fff;
		}

	}

}
