@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Oswald:400,300,700|Roboto+Condensed:400,300,300italic,700italic,400italic,700);

$font-serif: 'Slabo 27px', serif; 
$font-header: 'Oswald', sans-serif;
$font-main: 'Roboto Condensed', sans-serif;

body {
	font-size: 18px;
	font-family: $font-main;
}

header {
	background-color: #0060E6;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	box-shadow: 0px 0px 32px rgba(0,0,0,.1);

	h1 {
		text-shadow: 0px 4px 0px rgba(0,0,0,.1);
		font-family: $font-header;
		font-weight: normal;
		letter-spacing: -.05em;
	}

	.inner {
		padding: 1em;
	}
}

h1 {
	text-shadow: 0px 4px 0px rgba(0,0,0,.1);
	margin: .2em 0;
}

input {
	display: inline-block;
}

#right-column,
#left-column {
	overflow: scroll;
	width: 50%;
	top: 0;
	height: 100%;
	position: fixed;

	.inner {
		padding: 1em;
		padding-top: 7em;
	}
}

#left-column {
	left: 0;
	background-color: #333;
	color: #fff;

	label {
		font-family: $font-serif;
		font-weight: bold;
		display: block;
		float: left;
		width: 6em;
		font-size: 1.5em;
	}

	input {
		font-family: $font-serif;
		font-size: 1em;
		font-weight: 300;
		padding: .5em;
	}

	hr {
		clear: both;
		border: 0px hidden transparent;
		border-top: 2px dashed #222;
		margin: 1em 0;
	}

} 

#right-column { 
	font-family: $font-serif;
	right: 0;

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
		padding: 0;

		tr {
			border-top: 1px solid #eee;

			td {
				padding: .5em;
				width: 25%;
			}

			&:first-child {
				border-top: 0px hidden transparent;
			}
		}

		.payment {
			background-color: #0060E6;
			color: #fff;
		}

	}

}
